@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADMIN PANEL</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/AdminLTE-3.1.0/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/AdminLTE-3.1.0/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/Default/Index" class="brand-link">
                <img src="/AdminLTE-3.1.0/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Admin Panel</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="/Products/Index/" class="nav-link">
                                <i class="fab fa-product-hunt"></i>
                                <p>
                                    Urunler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Categories/Index/" class="nav-link">
                                <i class="fas fa-inbox"></i>
                                <p>
                                    Kategoriler
                                </p>
                            </a>
                        </li>
                        <hr />
                        <li class="nav-item">
                            <a href="/Abouts/Index/" class="nav-link">
                                <i class="fas fa-address-card"></i>
                                <p>
                                    Hakkimda
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/AboutImages/Index/" class="nav-link">
                                <i class="fas fa-image"></i>
                                <p>
                                    Resim
                                </p>
                            </a>
                        </li>
                        <hr />
                        <li class="nav-item">
                            <a href="/Awards/Index/" class="nav-link">
                                <i class="fas fa-award"></i>
                                <p>
                                    Oduller
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/AwardImages/Index/" class="nav-link">
                                <i class="fas fa-image"></i>
                                <p>
                                    Resim
                                </p>
                            </a>
                        </li>
                        <hr />
                        <li class="nav-item">
                            <a href="/Educations/Index/" class="nav-link">
                                <i class="fas fa-school"></i>
                                <p>
                                    Egitim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/EducationImages/Index/" class="nav-link">
                                <i class="fas fa-image"></i>
                                <p>
                                    Resim
                                </p>
                            </a>
                        </li>
                        <hr />
                        <li class="nav-item">
                            <a href="/Experiences/Index/" class="nav-link">
                                <i class="fas fa-trophy"></i>
                                <p>
                                    Deneyimler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Interests/Index/" class="nav-link">
                                <i class="fas fa-book"></i>
                                <p>
                                    Hobilerim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Skils/Index/" class="nav-link">
                                <i class="fas fa-code"></i>
                                <p>
                                    Yeteneklerim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Contacts/Index/" class="nav-link">
                                <i class="fas fa-phone"></i>
                                <p>
                                    Mesajlar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <hr style="color: whitesmoke; width:100%;" />
                        </li>

                        <li class="nav-item">
                            <a href="/Users/Index/" class="nav-link">
                                <i class="fas fa-user"></i>
                                <p>
                                    Kullanicilar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/OperationClaims/Index/" class="nav-link">
                                <i class="fas fa-user-tag"></i>
                                <p>
                                    Roller
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/UserOperationClaims/Index/" class="nav-link">
                                <i class="fas fa-users-cog"></i>
                                <p>
                                    Rol Atama
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Managers/Index/" class="nav-link">
                                <i class="fas fa-user-shield"></i>
                                <p>
                                    Yonetici
                                </p>
                            </a>
                        </li>
                        <hr />
                        <li class="nav-item">
                            <a href="/Login/LogOut/" class="nav-link">
                                <i class="fas fa-sign-out-alt"></i>
                                <p style="text-align:center">
                                    Cikis Yap
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
        
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/AdminLTE-3.1.0/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/AdminLTE-3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/AdminLTE-3.1.0/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/AdminLTE-3.1.0/dist/js/demo.js"></script>
</body>
</html>