@using WebMVC.Models.Entity
@model List<Manager>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-2">
    <h2 style="text-align:center">Yonetici Islemleri</h2>
    <hr />
    <br />
    <a href="/Managers/ManagerAdd/" style="width: 20vh" class="btn btn-outline-info mb-3"><i class="fas fa-plus"></i> Ekle</a>

    <table style="text-align:center" class="table table-bordered">
        <thead>
            <tr>
                <th>Yonetici ID</th>
                <th>Yonetici Ismi</th>
                <th>Yonetici Sifresi</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var manager in Model)
        {
            <tbody>
                <tr style="text-align:center">
                    <td>@manager.Id</td>
                    <td>@manager.AdminName</td>
                    <td><input type="password" style="text-align:center; width:100%" disabled placeholder="@manager.AdminPassword" /></td>
                    <td><a href="/Managers/ManagerDelete/@manager.Id" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Sil</a></td>
                    <td><a href="/Managers/ManagerUpdate/@manager.Id" class="btn btn-outline-warning"><i class="fas fa-edit"></i> Duzenle</a></td>
                </tr>
            </tbody>
        }

    </table>
</div>





